DB_PASSWORD=change_me_strong
REDIS_PASSWORD=change_me_redis
MINIO_USER=starshows
MINIO_PASSWORD=change_me_minio_32chars
JWT_SECRET=change_me_jwt_64chars
DIRECTUS_KEY=change_me_directus_key_32
DIRECTUS_SECRET=change_me_directus_secret_32
API_URL=https://api.starshows.ec
DIRECTUS_URL=https://admin.starshows.ec
